<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" 
  routerLink="/">CattelHome</a>
  <button class="navbar-toggler" 
  type="button" 
  data-toggle="collapse" 
  data-target="#navbarsExampleDefault" 
  aria-controls="navbarsExampleDefault" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" >
          <a class="nav-link" active=True
          routerLink="/">Cattle Home</a>
      </li> -->
      <li class="nav-item" >
          <a class="nav-link" 
          routerLink="/cattle-map">Cattle Map</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" 
        routerLink="/cattle-state">Cattle State</a>
    </li>
      <li class="nav-item" >
        <a class="nav-link" 
        routerLink="/predictive-model">Predictive Model</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" 
          routerLink="/newsurvey">Survey</a>
        </li>

      <li class="nav-item" >
        <a class="nav-link" 
        [routerLink]="['/data-table']">Data Source Table</a>
      </li>

    </ul>
  </div>
</nav>
